<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publishing List</title>
    <style>
        .pub_list {width: 100%; box-sizing: border-box; border-top: 3px solid #000; border-collapse: collapse; font-size: 12px;}
        .pub_list tr {border-bottom: 1px solid #eee;}
        .pub_list th {padding: 10px; border-right: 1px solid #eee; font-size: 14px; font-weight: bold; text-align: center; color: #333;}
        .pub_list th:last-child {border-right: none;}
        .pub_list td {padding: 10px; border-right: 1px solid #eee; font-size: 12px; text-align: center; vertical-align: middle; color: #333;}
        .pub_list td a {color: #333;}
        .pub_list td.tit {padding-left: 10px; background: #eee; text-align: left; font-weight: bold;}
        .pub_list td.tit span {padding-left: 5px; font-weight: bold; color: #000;}
        .pub_list td.tit span:before {content: '( ';}
        .pub_list td.tit span:after {content: ' )';}
        .pub_list td:last-child {border-right: none;}
        .pub_list td.bd_r {border-right: 1px solid #eee;}
    </style>
</head>
<body>
    <h2>Publishing List</h2>
    <table cellpadding="0" cellspacing="0" class="pub_list">
        <colgroup>
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="10%">
            <col width="15%">
            <col width="*">
        </colgroup>
        <tbody>
            <tr>
                <th>1 Depth</th>
                <th>2 Depth</th>
                <th>3 Depth</th>
                <th>4 Depth</th>
                <th>5 Depth</th>
                <th>구분</th>
                <th>파일명</th>
                <th>비고</th>
            </tr>

            <!-- 메인 -->
            <tr>
                <td class="tit" colspan="9">메인 <span>main</span></td>
            </tr>
            <tr>
                <td>메인</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../main/index.html" target="_blank">main.html</a></td>
                <td>완료</td>
            </tr>

            <!-- 서브 -->
            <tr>
                <td class="tit" colspan="9">서브 <span>layout</span></td>
            </tr>
            <tr>
                <td>서브 레이아웃</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../layout/sub_layout.html" target="_blank">sub_layout.html</a></td>
                <td></td>
            </tr>

            <!-- ABOUT EARR -->
            <tr>
                <td class="tit" colspan="9">ABOUT EARR <span>about</span></td>
            </tr>
            <tr>
                <td rowspan="2">ABOUT EARR</td>
                <td>ABOUT EARR</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../about/about_earr.html" target="_blank">about_earr.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>EARR AWARD</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../about/earr_award.html" target="_blank">earr_award.html</a></td>
                <td>완료</td>
            </tr>

            <!-- EARR 2021 -->
            <tr>
                <td class="tit" colspan="9">EARR 2022 <span>earr2022</span></td>
            </tr>
            <tr>
                <td rowspan="6">EARR 2022</td>
                <td>INFORMATION</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../earr2022/information.html" target="_blank">information.html</a></td>
                <td></td>
            </tr>
            <tr>
                <td>TOPIC</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../earr2022/topic.html" target="_blank">topic.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>SCHEDULE</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../earr2022/earr_schedule.html" target="_blank">earr_schedule.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>ORGANIZATION</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../earr2022/organization.html" target="_blank">organization.html</a></td>
                <td>완료</td>
            </tr>
            <tr>
                <td>PARTY</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../earr2022/party.html" target="_blank">party.html</a></td>
                <td></td>
            </tr>
            <tr>
                <td>LOCATION</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../earr2022/location.html" target="_blank">location.html</a></td>
                <td>완료</td>
            </tr>

            <!-- SCHEDULE -->
            <tr>
                <td class="tit" colspan="9">SCHEDULE <span>schedule</span></td>
            </tr>
            <tr>
                <td>SCHEDULE</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../schedule/schedule.html" target="_blank">schedule.html</a></td>
                <td>완료</td>
            </tr>

            <!-- MATCHES -->
            <tr>
                <td class="tit" colspan="9">MATCHES <span>matches</span></td>
            </tr>
            <tr>
                <td>MATCHES</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../matches/matches.html" target="_blank">matches.html</a></td>
                <td></td>
            </tr>

            <!-- GODANG -->
            <tr>
                <td class="tit" colspan="9">GODANG <span>godang</span></td>
            </tr>
            <tr>
                <td>GODANG</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="../godang/godang.html" target="_blank">godang.html</a></td>
                <td></td>
            </tr>

            <!-- NOTICE -->
            <tr>
                <td class="tit" colspan="9">NOTICE <span>notice</span></td>
            </tr>
            <tr>
                <td rowspan="2">NOTICE</td>
                <td>NOTICE</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="../notice/notice.html" target="_blank">notice.html</a><br>
                    <a href="../notice/notice_view.html" target="_blank">notice_view.html</a>
                </td>
                <td>완료</td>
            </tr>
            <tr>
                <td>GALLERY</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="../notice/gallery.html" target="_blank">gallery.html</a><br>
                    <a href="../notice/gallery_view.html" target="_blank">gallery_view.html</a>
                </td>
                <td>완료</td>
            </tr>
        </tbody>
    </table>
</body>
</html>